@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;  /* TODO RENAME */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-primary {
    background-color: theme('colors.blue.500');
    /* TODO ADD MORE */
  }
  .bg-secondary {
    background-color: theme('colors.blue.400');
    /* TODO ADD MORE */
  }
  .bg-tertiary {
    background-color: theme('colors.blue.300');
  }
}
