@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-primary {
    background-color: theme('colors.primary');  
  }
  .bg-secondary {
    background-color: theme('colors.secondary');
  }
  .bg-tertiary {
    background-color: theme('colors.tertiary'); 
  }
}
